<div class="login-form-2">
    <h1>Dados:</h1>
form(method="post" action="/criaDados")
    table 
        tr
          input(type="text" name="nome" placeholder="Nome" required)
        tr
        tr
          input(type="text" name="idade" placeholder="Idade" required)
        tr
            td
            td
                input(type="submit" value="Criar")
</div>        