<a class="nav-link" href="/criarCat"><button type="button" class="btn btn-primary btn-lg btn-block">Criar/Editar dados</button> </a>
<a class="nav-link" href="/detalhesDados"><button type="button" class="btn btn-primary btn-lg btn-block">Ver dados</button> </a>
