html 

  body 

  table
  div(class = "card-columns")
        tr
          div(class="card")
            div(class="card-body")
              p(class="card-text")="Nome: "
              p(class="card-text")=dadosUser.nome
              p(class="card-text")="Idade: "              
              p(class="card-text")=dadosUser.idade

