<div class="login-panel">
<div class="login-form">
    <h1>Login</h1>
form(method="post" action="/login")
    table 
        tr

                input(type="text" name="loginUsuario" placeholder="Login" required)
        tr 

                input(type="password" name="senhaUsuario" placeholder="Senha" required)
        tr 

                input(type="submit" value="Login")


                </div>
</div>