<div class="register-panel-2">
<div class="login-form-2">
    <h1>Alterar dados</h1>
form(method="post" action="/alterar")
    table 
        tr
        tr 
    
                input(type="text" name="emailUsuario" placeholder="Email" required)
        tr 

                input(type="password" name="senhaUsuario" placeholder="Senha" required)
        tr 
 
            td
            td
                input(type="submit" value="Alterar")


</div>          
</div>      

