<a class="nav-link" href="/meusDados"><button type="button" class="btn btn-warning btn-lg btn-block">Alterar dados</button> </a>

<form action="/deletar" method="post">
<input type="submit" class="btn btn-danger btn-lg btn-block" value = "Excluir Conta"></button>
</form>