<div class="register-panel">
<div class="login-form">
    <h1>Registro</h1>
form(method="post" action="/register")
    table 
        tr

                input(type="text" name="loginUsuario" placeholder="Login" required)
        tr 

                input(type="text" name="emailUsuario" placeholder="Email" required)
        tr 

                input(type="password" name="senhaUsuario" placeholder="Senha" required)
        tr 
            td
            td
                input(type="submit" value="Register")


</div>          
</div>      
