         <header class="default-menu">
            <main>
                <div class="header-1">

            
                <div class="start">
                <img src="./images/start.png" width="40" height="36"/>
                </div>
                     <div class="nome-professor">
                        <img src="./images/nomeSite.png" width="125" height="28"/>           
                     </div>
                </div>
            </main>
        </header> 
        <main class="col urls">
            <div class="header-2">
                <div class="menu"> 
                    <ul>
                        <li>
                            <a href="/">Pagina Inicial</a>
                        </li>
                        <li>
                            <a href="redacoesCorrigidas">Minhas Redações</a>
                        </li>
                                           {{#if loggedin}}
                         <li>
                            <a href="redacaoSend">Enviar Redação</a>
                        </li>    
                        <li>
                            <a href="crudAluno">Conta</a>
                        </li>                      
                        <li>
                            <a href="/logout">Sair</a>
                        </li>
                        {{/if}}
                        <li>
                            <a href="areaAluno">Login</a>
                        </li>
                        <li>
                            <a href="registro">Registrar-se</a>
                        </li>
                    </ul>
                </div>
            </div>
        </main>

		<div class="login-form">
			<h1>Login</h1 >
			<form action="areaAluno" method="POST">
				<input type="text" name="loginUsuario" placeholder="Username" required>
				<input type="password" name="senhaUsuario" placeholder="Password" required>
				<input type="submit">
			</form>
		</div>        