          <header class="default-menu">
            <main>
                <div class="header-1">

            
                <div class="start">
                <img src="./images/start.png" width="40" height="36"/>
                </div>
                     <div class="nome-professor">
                        <img src="./images/nomeSite.png" width="125" height="28"/>                         </div>
                </div>
            </main>
        </header>
        <main class="col urls">
            <div class="header-2">
                <div class="menu"> 
                    <ul>
                        <li>
                            <a href="/">Pagina Inicial</a>
                        </li>
                        {{#if user}}
                        <li>
                            <a href="redacoesCorrigidas">Minhas Redações</a>
                        </li>
                         <li>
                            <a href="redacaoSend">Enviar Redação</a>
                        </li>
                        <li>
                            <a href="crudAluno">Conta</a>
                        </li>                         
                        <li>
                            <a href="/logout">Sair</a>
                        </li>
                        {{else}}
                        <li>
                            <a href="areaAluno">Login</a>
                        </li>
                        <li>
                            <a href="registro">Registrar-se</a>
                        </li>
                        {{/if}}
                    </ul>
                </div>
            </div>
        </main>
        <form action="/redacoesCorrigidas/edit" method="POST">
        <div class="redacao-corrigida">
            <h2>Editar Redação</h2>
            <input type="hidden" value="{{redacoes._id}}" name="id">
            <br>
           <input type="text" class="form-control" name="texto" value="{{redacoes.texto}}" cols="120" rows="30" required></input>
            <div class="postar-redacao">
                <a href=""><button type="submit">ENVIAR</button></a>               
           </div>
        </div>
        </form>
  
